* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly

}

/* .col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
} */

/* navbar section */

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    font-weight: bold;
    color: #fff;
}

.navbar-nav {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

/* jumbotron/hero section */

.jumbotron {
    background: url(../images/Screenshot\ 2022-11-07\ at\ 10.10.14.png) top center;
    background-size: cover;
    color: #fff;
}

h1 {
    font-size: 70px;
}

.col-sm-8 p {
    font-size: 25px;
    padding-right: 20px;
}

.mainButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orangered;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.span2 {
    background: orangered;
    height: 100%;
    width: 0;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
}

/* .mainButton:hover span{
    width: 100%;
} */

.mainButton:hover,
.btn:hover {
    border: 2px solid #fff;
    transition: 0.8s;
    box-shadow: 2px 3px #888888;
    background: transparent;
}

/* skills section */

.skills,
.contact-about {
    padding: 4%;
}


h2 {
    font-size: 50px;

}

.col-sm-7 img {
    margin: auto;
    display: block;
}

.col-sm-5 li {
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 35px;
    padding-right: 20px;
    margin-left: 50px;

}

/* projects section */

.myProjects{
    background: url(../images/Screenshot\ 2022-11-07\ at\ 10.10.14.png);
    background-size: cover;
    height: 80%;
}


.myProjects h2{
    text-align: center;
    padding-top: 50px;
    color: #fff;
}


.container-fluid  {
    color: #fff;
    padding-top: 40px;
}

.btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orangered;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* contact/about us section */

.col-sm-7 p {
    padding-bottom: 20px;
    font-size: 25px;
    padding-right: 20px;
}

.email {
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.input, #message {
    outline: none;
    border-radius: 25px;
    border: 2px solid;
    background-color: transparent;
    font-size: 1rem;
    width: 95%;
    padding: 1rem;
    margin: 0.5rem;
    border-color: orangered;
}

.btn-2 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orangered;
    background: transparent;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-2:hover {
    border: 2px solid #555;
    color: orangered;
    transition: 0.8s;
    box-shadow: 2px 3px #888888;
    background: transparent;
}

.contact {
    padding-left: 5%;
}

footer{
    text-align: center;
}

footer a {
    color: orangered;
}

footer a:hover{
    color: #555;
    transition: 0.8s;
}


/* ---------new projects----------- */

#projects {
    background: url(../images/Screenshot\ 2022-11-07\ at\ 10.10.14.png);
    background-size: cover;
    height: auto;
    padding: 30px 0px;
}

#projects h3 {
    font-size: 50px;
    padding-bottom: 5px;
    color: #fff;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0, 1);
}

.card {
    margin: 20px 10px;
}

.card-body a {
    color: orangered;
    text-decoration: none;
    font-size: 20px;
    margin-top: auto;
    font-weight: 600;
}

.card-body a:hover {
    color: #555;
}

@media screen and (max-width: 993px) and (min-width: 767px) {
    .btn {
        width: 150px;
    }
}
